extends ../layouts/base.jade

block content
  :go:func ConnectedPlayersView(pageTitle string, players []*sharedjob.Player)
  :go:import
    "github.com/devnull-twitch/sharedjob-server"
  section.section
    div.container.is-fullhd
      h1.title=pageTitle
      p List of all connected player
      table.table.is-fullwidth.is-striped
        thead
          tr
            th Name
        tbody#player-table
          each player in players
            tr
              include ../includes/player_row.jade
      div#modal-target